@import '~@sura-platform/scss/variables';

.nav {
  .nav-item {
    &.active {
      background-color: color('white');
      .nav-link {
        &.active {
          color: color('blue');
        }
      }
    }
  }
}

.brand-class {
  // padding-left: 4rem;
  .nav-item {
    text-align: center;
    width: 6rem;
    background-color: $white;
    // -webkit-box-shadow: 10px 0px 5px -4px rgba(0, 0, 0, 0.03);
    // -moz-box-shadow: 10px 0px 5px -4px rgba(0, 0, 0, 0.03);
    // box-shadow: 10px 0px 5px -4px rgba(0, 0, 0, 0.03);
    // margin-right: 0.3rem;
    color: $primary;

    &.active {
      // -webkit-box-shadow: none;
      // -moz-box-shadow: none;
      // box-shadow: none;
      // margin-right: 0;
      border-bottom: 3px solid $primary;
      color: $primary;
    }
  }
}
