@import '~@sura-platform/scss/variables';
h4,
.form-inline span {
  color: $blue;
}

.text-muted {
  color: $primary !important;
  font-weight: $font-weight-bold;
  font-size: 0.875rem;
}

.text-span {
  color: $black;
  border-radius: 0.5rem;
  border: 0.0625rem solid #c4c4c4;
  border-right: none;
  padding: 0.375rem 1rem;
  margin-right: -7px;
  height: 32px;
}

.fixed {
  color: $blue !important;
  font-weight: $font-weight-bold;
  margin-top: 0.5rem;
}
