<div *ngIf="showCPForm">
  <div class="row pt-4 mb-5">
    <div class="col-lg-8 offset-lg-2 pl-0">
      <div [formGroup]="cpForm">
        <div class="row">
          <div class="col-lg-4">
            <sxf-textbox
              (keydown.enter)="
                searchByPostalCode(cpForm.get('postalCode').value)
              "
              label="Código postal"
              type="text"
              formControlName="postalCode"
              placeholder="Ingresá el código postal"
              [helpFeedback]="''"
              placement="bottom"
              [maxLength]="4"
              name="postal_code"
              invalidFeedback="El código postal no es válido"
            ></sxf-textbox>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2 pl-0">
      <span>
        <button
          [disabled]="
            !cpForm.valid ||
            cpForm.get('postalCode').value === '' ||
            cpForm.pristine
          "
          class="btn btn-primary btn-heft"
          (click)="searchByPostalCode(cpForm.get('postalCode').value)"
          name="postalCodeBtn"
        >
          Continuar
        </button>
      </span>
      <span class="press-enter ml-3 mr-4">
        o presiona ENTER
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2 pl-0">
      <button name="nextBtn" class="btn next px-0" (click)="selectLocation()">
        Ingresar Provincia y Localidad
      </button>
    </div>
  </div>
</div>

<!-- Province and location -->
<form
  *ngIf="!showCPForm"
  [formGroup]="locationForm"
  (submit)="searchByProvinceLocation()"
  (keydown.enter)="searchByProvinceLocation()"
>
  <div class="row pt-2 mb-5">
    <div class="col-lg-8 offset-lg-2 pl-0">
      <div class="row">
        <div class="col-lg-4">
          <label>
            Provincia
            <sup>*</sup>
          </label>
          <sxf-select
            #province
            formControlName="province"
            disabledOnEmpty="true"
            [items]="provinces$"
            bindLabel="description"
            bindValue="code"
            [multiple]="false"
            class="custom"
            [searchable]="true"
            placeholder="Provincia"
            [dropdownPosition]="'bottom'"
            name="province"
          ></sxf-select>
        </div>
        <div class="col-lg-4">
          <label>
            Localidad
            <sup>*</sup>
          </label>
          <sxf-select
            #location
            formControlName="location"
            disabledOnEmpty="true"
            [items]="locations$"
            bindLabel="city"
            bindValue="city"
            [multiple]="false"
            class="custom"
            [searchable]="true"
            placeholder="Localidad"
            [dropdownPosition]="'bottom'"
            name="location"
          ></sxf-select>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2 pl-0">
      <span>
        <button
          [disabled]="!locationForm.valid"
          class="btn btn-primary btn-heft"
          type="submit"
          name="continueBtn"
        >
          Continuar
        </button>
      </span>
      <span class="press-enter ml-3 mr-4">
        o presiona ENTER
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2 pl-0">
      <button name="nextBtn" class="btn next px-0" (click)="selectPostalCode()">
        Ingresar código postal
      </button>
    </div>
  </div>
</form>
