.maintenance-container {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #0033a0;

  .logo {
    text-align: center;
    padding-bottom: 1rem;
  }

  .message {
    text-align: center;
    font-size: 26px;

    p {
      margin: 0;
      line-height: 30px;
    }
  }
}
