@import '~@sura-platform/scss/variables';

.payment-commissions {
  .title {
    margin: 0.5rem 1rem !important;
    display: inline-block;
  }

  ngb-accordion::ng-deep.card::ng-deep .card-body {
    border: none !important;
    padding: 0rem 1.25rem;
  }

  .btn-edit {
    background: none;
    color: $cyan;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .listHouse {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1rem 0.6rem;

    li > label {
      font-family: $font-family-medium;
    }

    li {
      padding: 0.2rem 0rem;
    }
  }
}

::ng-deep .modal-header {
  padding: 2.125rem 4rem 0rem 2.125rem;
}

::ng-deep .modal-body-items {
  padding: 0 4rem 1rem 4rem;
}

.label-regular {
  font-family: $font-family-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
