<ng-container *ngIf="filteredModels$ | async as models; else stillLoading">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2 pl-0">
      <sxf-textbox
        [formControl]="filter"
        label="Modelo"
        placeholder="Podes escribir o buscar abajo"
        type="text"
        name="model"
      ></sxf-textbox>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2 pl-0">
      <div class="grid-container">
        <span class="data-not-found" *ngIf="models.length == 0">
          No se encontraron resultados
        </span>
        <div class="grid-item" *ngFor="let model of models">
          <button
            (click)="selectModel(model)"
            name="model{{ model.description }}"
            [ngClass]="{
              active: model.description === (shortModel$ | async)
            }"
            class="btn btn-primary btn-block"
          >
            {{ model.description }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #stillLoading>
  <div class="row">
    <div class="col-lg-4 offset-lg-4 d-flex flex-wrap mt-4">
      <ng-lottie
        [options]="lottieConfig"
        width="8.75rem"
        height="6.25rem"
      ></ng-lottie>
    </div>
  </div>
</ng-template>
