.text-sura-blue-color {
  color: $sura_blue_color;
}

.text-sura-aqua-color {
  color: $sura_aqua_color;
}

.text-sura-white-color {
  color: $sura_white_color;
}

.text-sura-light-gray-color {
  color: $sura_light_gray_color;
}

.text-sura-placeholder-gray-color {
  color: $sura_placeholder_gray_color;
}

.text-sura-text-gray-color {
  color: $sura_text_gray_color;
}

.text-sura-dark-gray-color {
  color: $sura_dark_gray_color;
}

.text-sura-dark-pink-color {
  color: $sura_dark_pink_color;
}

.text-sura-dark-orange-color {
  color: $sura_dark_orange_color;
}

.text-sura-dark-yellow-color {
  color: $sura_dark_yellow_color;
}
.text-sura-green-color {
  color: $sura_green_color;
}

.text-sura-red-color {
  color: $sura_red_color;
}
