.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-template-rows: repeat(auto-fill, 60px);
  grid-gap: 5px;
  padding: 5px;
}

.grid-item {
  text-align: center;
}
