<div class="card">
  <div class="card-header">
    <!-- <div class="line-between"></div> -->
    <ul class="nav nav-justified">
      <li
        class="nav-item"
        *ngFor="let step of steps"
        [ngClass]="{
          active: step.isActive,
          enabled: !step.isDisabled,
          disabled: step.isDisabled,
          completed: isCompleted,
          isCompleted: step.stepCompleted
        }"
      >
        <div class="f-left d-flex align-items-stretch justify-content-between">
          <a
            class="w-100 rounded-circle d-flex align-items-center"
            (click)="goToStep(step)"
          >
            <!-- <fa-icon
                *ngIf="
                  !step.stepCompleted || (step.stepCompleted && step.isActive)
                "
                class="mx-auto"
                icon="{{ step.icon }}"
              ></fa-icon>
              <fa-icon
                *ngIf="step.stepCompleted && !step.isActive"
                style="color: white;"
                class="mx-auto"
                icon="check"
              ></fa-icon> -->
          </a>
        </div>
        <label class="f-left p-10">{{ step.title }}</label>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <ng-content></ng-content>
  </div>
  <div class="card-footer" *ngIf="buttonsActive" [hidden]="isCompleted">
    <div class="d-flex justify-content-between">
      <button
        type="button"
        class="btn btn-secondary float-left"
        (click)="previous()"
        [disabled]="!hasPrevStep || !activeStep.showPrev"
      >
        Anterior
      </button>
      <button
        type="button"
        class="btn btn-secondary float-right"
        (click)="next()"
        [disabled]="
          (!activeStep.isValid && !hasNextStep) || !activeStep.showNext
        "
        [hidden]="!hasNextStep"
      >
        Siguente
      </button>
    </div>
    <!-- <button type="button" class="btn btn-secondary float-right" (click)="complete()"
                [disabled]="!activeStep.isValid" [hidden]="hasNextStep || !activeStep.showNext">
          {{activeStep.completeTitle}}
        </button> -->
  </div>
</div>
