@import '~@sura-platform/scss/variables';

.press-enter {
  color: #a3adb3;
  font-size: 0.75rem;
}

.btn {
  &.no-patent {
    color: $primary;
    font-size: 0.9375rem;

    &:not(:disabled):not(.disabled):active {
      color: $primary;
      border-color: $white;
      background-color: $white;
      box-shadow: none;
    }
  }
}
